body{
    font-family: "Andada Pro", serif;
    font-optical-sizing: auto;
}
.form-heading{
    display:flex;
    align-items:center;
    justify-content: center;
    color:#030303;
    letter-spacing: 2px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F1EFEC;
    border-radius: 16px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }
  
  #form {
    width: 100%;
  }
  
  .grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .full-width {
    grid-column: span 2;
  }
  
  .center {
    align-items: center;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
  }
  
  input, select, textarea {
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #cebba9;
    font-weight: 600;
    width: 160px;
    border-radius: 20px;
    padding: 10px 0;
    margin-left: -1.6rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #d1b39b;
  }
  
select{
    padding: 1rem;
}
#message{
    position: absolute;
    top: 2%;
    left: 10rem;
    font-size: 15px;
}
a#logout {
    cursor: pointer;
}
#dashboard{
    cursor:pointer;
}