<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>To-Do List</h2>
        </div>
        <div class="links">
            <a href="index.html">Home</a>
            <a title="You already in that page">About</a>
            <a href="about.html">Contact</a></div>
        </div>
            <button class="login" onclick="window.location.href='login.html'" id="login">Login</button>
    </header>
    <div class="intro"><h1>Welcome to Your New Favorite To-Do List!</h1>
        <span>Stay on top of your tasks with ease. Whether you're planning your day, managing projects, or simply remembering little things,</span><span> our app is here to help you organize and prioritize with style.</span></h2>
        <br><button name="add_tasks" onclick="window.location.href='add_task.html'">Send feedback </button>
        <img src="../flat-lay-notebook-with-list-desk_23-2148938726.avif" alt="" height="400px" width="450px">
        </div>
        <div class="section-2">
            <h2>Features You'll Love</h2>
            <ul>
                <li><strong>Simple and Clean Interface:</strong> No clutter, no distractions. Just your tasks, front and center.</li>
                <li><strong>Easy Task Organization:</strong> Prioritize tasks, add deadlines, and check them off as you go!</li>
                <li><strong>Dark Mode:</strong> For those who like their productivity with a touch of style (and less eye strain).</li>
                <li><strong>Sync Across Devices:</strong> Your tasks follow you everywhere, so you never forget a thing.</li>
            </ul>
        </div>
    </div>
</body>
</html>