<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/add_task.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>MuzirisTrack</h2> <span class="track">TASK MANAGEMENT</span>
        </div>
        <div class="links">
            <a href="index.html">Home</a> 
            <a href="about.html">About</a>
            <a href="./welcome.html">Dashboard</a>
             <a id="logout" onclick="sessionclear()">Logout</a></div>
        </div>

            <!-- <button class="login" onclick="window.location.href='login.html'" id="login">Login</button> -->
    </header>
    <div class="form-heading">
        <h2>Task Time! Add a New One</h2></div>
        <div class="form" id="form1">
           
            <form action="add_task.html" method="GET" id="form">
                
                 <small id="message"></small>
                <input type="text" name="task_name" placeholder="Task Name" id="task_name" required>
                <small id="tname">Enter task name</small>
                <textarea name="task_dis" id="task_dis" placeholder="Task Discription" rows="6" cols="0" required></textarea>
                <small id="dis">Enter task discription</small>
                <select name="priority" id="priority" required>
                    <option value="" selected>Select a Priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
                <small id="pri">Select your priority</small>
                <input type="datetime-local" id="shedule" name="shedule" title="Task Schedule" min="2025-04-01" required><br>
                <small id="shedu">Select a schedule,  Optional!</small>
                <input type="submit" name="submit" id="submit" value="Submit">
            </form>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/add_task.js">
   
</script>
</html>