<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/add_task.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/register.css">
    <style>
        .form{
            border-radius: 8%;
        }
        input[type="submit"]{
            margin-left: -1.6rem;
            margin-top: 0.8rem;
            border-radius: 20px;
            margin-top: 0rem;
        }
        select{
            width:16rem;
            border:#123458 thin solid;
            background-color: #F1EFEC;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <h2>MuzirisTrack</h2> <span class="track">TASK MANAGEMENT</span>
        </div>
        <div class="links">
            <a href="index.html">Home</a> 
            <a href="about.html">About</a>
            <a id="dashboard">Dashboard</a>
             <a id="logout" onclick="sessionclear()">Logout</a></div>
        </div>

            <!-- <button class="login" onclick="window.location.href='login.html'" id="login">Login</button> -->
    </header>
    <div class="form-heading">
        <h2>Task Time! Add a New One</h2></div>
        <div class="form" id="form1">
            <form action="add_task.html" method="GET" id="form">
              <div class="grid-form">
                <small id="message"></small>
                <div class="form-group">
                  <label for="em_name">Employee Name</label>
                  <input type="text" name="em_name" id="em_name" placeholder="Employee Name" required>
                </div>
          
                <div class="form-group">
                  <label for="email">Employee Gmail</label>
                  <input type="email" name="email" id="email" placeholder="Employee Gmail" required>
                </div>
                
               
                  
                <div class="form-group">
                  <label for="task_name">Task Name</label>
                  <input type="text" name="task_name" id="task_name" placeholder="Task Name" required>
                </div>

                <div class="form-group">
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority" required>
                      <option value="" selected disabled>Select Priority</option>
                      <option value="Low">Low</option>
                      <option value="Medium">Medium</option>
                      <option value="High">High</option>
                    </select>
                  </div>
                <div class="form-group ">
                    <label for="shedule">Due Date</label>
                    <input type="datetime-local" id="shedule" name="shedule" min="2025-04-01" required>
                  </div>
                <div class="form-group ">
                    <label for="task_dis">Task Description</label>
                    <textarea name="task_dis" id="task_dis" placeholder="Task Description" required></textarea>
                  </div>

                <div class="form-group full-width center">
                  <input type="submit" name="submit" id="submit" value="Submit">
                </div>
          
              </div>
            </form>
          </div>
          
          
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/add_task.js">
   
</script>
</html>