<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>MuzirisTrack</h2> <span class="track">TASK MANAGEMENT</span>
            
        </div>
        <div class="links">
            <a title="You are in the same page">Home</a>
            <a href="about.html">About</a>
            <a href="about.html">Contact</a></div>
        </div>
            <button class="login" onclick="window.location.href='login.html'" id="login">Login</button>
    </header>
    <div class="intro">
        <h2> Welcome to MuzirisTrack!<br><span>Stay Organized. Get Things Done.</span></h2>
        <p>With MuzirisTrack, managing your daily tasks has never been easier.  Whether it’s personal errands or <br>work-related goals, keep everything in one place and stay focused.</p>
        <br><button name="add_tasks" id="add_task">Add Your Task</button>
        <img src="../flat-lay-notebook-with-list-desk_23-2148938726.avif" alt="" height="400px" width="450px">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#add_task').click(()=>{
            var storedUser = sessionStorage.getItem("user");
      var user = JSON.parse(storedUser);
      if (storedUser) {
            window.location.href = "add_task.html";  // Redirect to add_task page if user exists
        } else {
            window.location.href = " login.html";  // Redirect to register page if user is not found
        }
        })
    </script>
</body>
</html>