<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="../css/index.css">
    <!-- <link rel="stylesheet" href="./add_task.css"> -->
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>MuzirisTrack</h2> <span class="track">TASK MANAGEMENT</span>
        </div>
        <div class="links">
            <a href="index.html">Home</a> 
            <a href="about.html">About</a>
            <a href="./register.html" title="You already in that page">Register</a></div>
            <!-- <button class="login" onclick="window.location.href='login.html'" id="login">Login</button> -->
    </header>
    <div class="form-heading">
    </div>
        <div class="form">
            
            <form action="login.html" method="GET">
                <h2>Login</h2>
                <p id="login">If you are not registered then <a href="./register.html">Register</a></p>
                <small id="message"></small>
                <input type="text" name="username" placeholder="UserName" id="username" required>
                <input type="password" id="password" name="pass" title="password" placeholder="Password"required><br>
                <input type="submit" name="submit" id="submit" value="Submit">
            </form>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/login.js"></script>
</html>