<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>To-Do List</h2>
        </div>
        <div class="links">
            <a href="index.html">Home</a> 
            <a href="about.html">About</a>
            <a href="./login.html" id="login" title="first you complete the registration">Login</a></div>
            <!-- <button class="login" onclick="window.location.href='login.html'" id="login">Login</button> -->
    </header>
    <div class="form-heading">
    </div>
        <div class="form">
            
            <form  method="POST" id="form">
                <h2>Register</h2>
                <p id="registered">If you are registered then <a href="./login.html">Login</a></p>
                <small id="message"></small>
                <input type="text" name="name" placeholder="Name" id="name" required><br>
                <small class="name" id="name_err">Enter the name of user</small>
                <input type="password" id="pass" name="pass" title="password" placeholder="Position"required><br>
                <small class="email" id="pass1">Position of user</small>
                <input type="password" id="pass" name="pass" title="password" placeholder="Department"required><br>
                <small class="email" id="pass1">Department</small>
                <input type="email" name="email" placeholder="UserName" id="username" required><br>
                <small class="email" id="email_error">Enter the Gmail as username</small>
                <input type="password" id="pass" name="pass" title="password" placeholder="Password"required><br>
                <small class="email" id="pass1">Password Must be 8 characters</small>
                <input type="password" id="pass" name="pass" title="password" placeholder=" confirm-Password" required><br>
                <small class="email" id="pass1">Password Must be same</small>
              
                <input type="submit" name="submit" id="submit" value="Submit">
            </form>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/register.js">

</script>
</html>