<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/welcome.css">
    
</head>
<body>
    <header>
        <div class="logo">
            <h2>To-Do List</h2>
        </div>
        <div class="links">
            <a href="index.html">Home</a> 
            <a href="about.html">About</a>
            <a id="logout" onclick="sessionclear()">Logout</a></div>
            <!-- <button class="login" onclick="window.location.href='login.html'" id="login">Login</button> -->
    </header>
    <div class="user"> <span id="Login_name">Loading...</span></div>
    <div class="sections">
        <div class="section-2">
            <p>Your Total tasks<br><span id="ttask">5</span></p>
        </div>
        <div class="section-1">
            <p>Your pending tasks<br><span id="pending"></span></p>
        </div>
        <div class="section-2">
            <p>Your completed tasks<br><span id="completed"></span></p>
        </div>
        
    </div>
    <div class="list-tasks">
    <div class="search">
       <form>
            <input type="text" name="tname" class="taskname" id="taskname" placeholder="Task name">
            <input type="date" name="date" class="taskdate">
            <!-- <button title="Fillter your tasks"><i class="fas fa-search" style="color:#123458"></i></button> -->
       </form>
        <button id="add_task" onclick="location.href='./add_task.html'">Add Tasks</button>
        <div class="task-list">
       
        </div>
    </div>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/welcome.js">
    </script>
</html>